table {
    width: 1500px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  th,
  td {
    padding: 15px;
    background-color:  #800404;
    color: #fff;
  }
  th {
    text-align: left;
  }
  thead th {
    background-color: #3f0101;
  }
  tbody tr:hover {
    background-color: darkred(255, 255, 255, 0.3);
  }
  tbody td {
    position: relative;
  }
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: darkred(255, 255, 255, 0.2);
    z-index: -1;
  }
  button{
    background-color: white;
  }
  button:hover{
    background-color: #3f0101;
  }